/**
 * Forms - CoreForm
 ******************************************************************************/

@mixin form-styling(
  $padding: $form-padding,
  $background: $form-bg,
  $border-radius: $form-border-radius,
  $box-shadow: 0rem 0.1875rem 0.5rem 0rem rgba(0, 0, 0, 0.075)
) {
  padding: $padding;
  background: $background;
  border-radius: $border-radius;
  @if $form-shadow-enabled {
    box-shadow: $box-shadow;
  }
}
// Form and section styling
form,
.form {
  font-size: 0.875rem;
  padding: $form-padding;
  .embedded-core-form & {
    @include form-styling();
  }
  &.overflow-visible {
    overflow: visible;
  }
  section {
    h1,
    .section-title {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.2;
      margin-bottom: 1rem;
      & ~ section h1,
      & ~ section .section-title {
        margin-top: 1rem;
        font-size: 1.75rem;
      }
    }
  }
}

form.form-styled-light,
.form.form-styled-light,
.form-styled-light form,
.form-styled-light .form {
  background: $form-bg-light;
}

form.form-unstyled,
.form.form-unstyled,
.form-unstyled form,
.form-unstyled .form,
form.modal-body,
.form.modal-body,
.modal-body form,
.modal-body .form {
  @include form-styling(0, transparent, 0, none);
  form.form-styled,
  .form.form-styled,
  .form-styled form,
  .form-styled .form {
    @include form-styling();
  }
  form.form-styled-light,
  .form.form-styled-light,
  .form-styled-light form,
  .form-styled-light .form {
    background: $form-bg-light;
  }
}

.embedded-core-form {

  // Required asterisk after label
  .checkbox.required label:first-child:after,
  .radio.required label:first-child:after,
  .form-group.required label.field-label:after {
    content: '*';
    color: red;
  }
  abbr[title='required'] {
    color: red;
  }
  // Labels
  label {
    display: inline-block;
    color: $form-primary-text-color;
    font-weight: 600;
    &.field-label {
      display: block;
      width: 100%;
      margin-bottom: .25rem;
    }
  }
  // Inputs
  input[type='text'],
  input[type='password'],
  input[type='color'],
  input[type='date'],
  input[type='datetime-local'],
  input[type='email'],
  input[type='month'],
  input[type='number'],
  input[type='search'],
  input[type='tel'],
  input[type='time'],
  input[type='url'],
  input[type='week'],
  select,
  textarea {
    width: -webkit-fill-available;
    padding: .5rem 1rem;
    border: 1px solid $colors-greyscale-400;
    border-radius: .25rem;

    &:not(.form-control) {
      @extend .form-control !optional;
    }
    &[disabled] {
      cursor: not-allowed;
    }
  }
  // Buttons
  // This originally targetted 'button' as well
  // it was removed to avoid affecting buttons app wide
  button {
    width: 31.75rem;
    align-self: center;
  }

  button[data-button-type='save'],
  button[data-button-type='next-page'],
  button[data-button-type='previous-page'] {
    color: $colors-greyscale-100 !important;
    background-color: $colors-greyscale-400 !important;

    &:hover {
      background-color: $colors-greyscale-200 !important;
    }

    &:active, &:focus {
      border-color: $colors-greyscale-200 !important;
    }
  }
  .fileinput-button {
    border-radius: .375rem;
    color: $btn-text-color;
    background-color: $btn-background-color;
    padding: .5rem .75rem;
    font-weight: $btn-font-weight;
    &:hover {
      background-color: $btn-hover-color;
    }
  }
  // Checkboxes and Radios
  .checkbox,
  .radio {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    
    label:not(.field-label) {
      width: max-content;
      border-radius: .25rem;
      color: $chk-radio-text-color;
      background-color: $chk-radio-background-color;
      padding: .5rem 1rem .5rem .5rem;
      margin: 0 0.5rem 0.5rem 0;
      cursor: pointer;
      font-weight: 400;
      margin-right: 1.5rem;
      input {
        position: relative;
        top: 0.0625rem;
        margin-right: 0.25rem;
      }
    }
    label.field-label:empty + label:last-child {
      font-weight: 600;
    }
    &.vertical {
      > label:not(.field-label) {
        display: block;
      }
      &.columns,
      &.columns-3,
      &.columns-4 {
        > label.field-label {
          column-span: all;
        }
        > label:not(.field-label) {
          margin-right: 0;
        }
        column-gap: 1.5rem;
        column-count: 1;
  
        @media all and (min-width: 576px) {
          column-count: 2;
        }
      }
      &.columns-3,
      &.columns-4 {
        @media all and (min-width: 992px) {
          column-count: 3;
        }
      }
      &.columns-4 {
        @media all and (min-width: 1200px) {
          column-count: 4;
        }
      }
    }
    &:not(.vertical) {
      &.columns,
      &.columns-3,
      &.columns-4 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
  
        > label {
          flex: 0 0 100%;
  
          @media all and (min-width: 576px) {
            &:not(.field-label) {
              margin-right: 0;
              flex: 0 0 calc(50% - 3rem);
              @media all and (-ms-high-contrast: none) {
                width: calc(50% - 3rem);
                flex-basis: auto;
              }
            }
          }
        }
      }
      &.columns-3,
      &.columns-4 {
        @media all and (min-width: 992px) {
          > label:not(.field-label) {
            margin-right: 0;
            flex: 0 0 calc(33.33333333% - 4rem);
            @media all and (-ms-high-contrast: none) {
              width: calc(33.33333333% - 4rem);
              flex-basis: auto;
            }
          }
          &:after {
            content: ' ';
            padding: .5rem 1rem .5rem .5rem;
            flex: 0 0 calc(33.33333333% - 1rem);
          }
          @media all and (-ms-high-contrast: none) {
            &:after {
              flex-basis: auto;
              width: calc(33.33333333% - 1rem);
            }
          }
        }
      }
      &.columns-4 {
        @media all and (min-width: 1200px) {
          > label:not(.field-label) {
            margin-right: 0;
            flex: 0 0 calc(25% - 4rem);
            @media all and (-ms-high-contrast: none) {
              width: calc(25% - 4rem);
              flex-basis: auto;
            }
          }
          &:after,
          &:before {
            content: ' ';
            flex: 0 0 calc(25% - 4rem);
          }
          &:after {
            padding: .5rem 1rem .5rem .5rem;
          }
          &:before {
            order: 1;
          }
          @media all and (-ms-high-contrast: none) {
            &:after,
            &:before {
              flex-basis: auto;
              width: calc(25% - 4rem);
            }
          }
        }
      }
    }
  }
  // textareas
  textarea {
    resize: vertical;
    max-width: 100%;
  }
  // selects
  select {
    width: 100%;
  }
  // Form Group columns
  .form-group__columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > * {
      flex: 0 0 100%;
    }
    @media all and (min-width: 576px) {
      > .form-group,
      > .checkbox[role='group'],
      > .radio[role='group'] {
        flex-basis: calc(50% - 0.75rem);
        @media all and (-ms-high-contrast: none) {
          width: calc(50% - 0.75rem);
          flex-basis: auto;
        }
      }
    }
    > .full-width.form-group,
    > .full-width.checkbox[role='group'],
    > .full-width.radio[role='group'] {
      flex-basis: 100%;
      @media all and (-ms-high-contrast: none) {
        width: 100%;
      }
    }
  }
  .form-group__columns-3 {
    @extend .form-group__columns !optional;
    @media all and (min-width: 992px) {
      > .form-group,
      > .checkbox[role='group'],
      > .radio[role='group'] {
        flex-basis: calc(33.33333333% - 1rem);
        @media all and (-ms-high-contrast: none) {
          width: calc(33.33333333% - 1rem);
          flex-basis: auto;
        }
      }
      &:after {
        content: ' ';
        flex: 0 0 calc(33.33333333% - 1rem);
      }
      @media all and (-ms-high-contrast: none) {
        &:after {
          flex-basis: auto;
          width: calc(33.33333333% - 1rem);
        }
      }
    }
  }
  .form-group__columns-4 {
    @extend .form-group__columns-3 !optional;
    @media all and (min-width: 1200px) {
      > .form-group,
      > .checkbox[role='group'],
      > .radio[role='group'] {
        flex-basis: calc(25% - 1.125rem);
        @media all and (-ms-high-contrast: none) {
          width: calc(25% - 1.125rem);
          flex-basis: auto;
        }
      }
      &:after,
      &:before {
        content: ' ';
        flex: 0 0 calc(25% - 1.125rem);
      }
      &:before {
        order: 1;
      }
      @media all and (-ms-high-contrast: none) {
        &:after,
        &:before {
          flex-basis: auto;
          width: calc(25% - 1.125rem);
        }
      }
    }
  }
  // Error Messages
  form,
  .form {
    display: flex;
    flex-direction: column;
    gap: .625rem;

    .errors {
      @extend .alert !optional;
      @extend .alert-danger !optional;
      @extend .alert-bar !optional;
      p {
        @extend .h6 !optional;
      }
      ul {
        margin: 0.5rem 0;
        padding: 0 0 0 1.125rem;
      }
      &:focus {
        outline: none;
        box-shadow: 0 0 1px .25rem rgba($danger, 0.25);
      }
    }
    #api-results {
      @extend .alert !optional;
      @extend .alert-danger !optional;
      @extend .alert-bar !optional;
      margin-top: 1rem;
      margin-bottom: 0;
      &:focus {
        outline: none;
        box-shadow: 0 0 1px .25rem rgba($danger, 0.25);
      }
    }
    .form-group,
    .radio,
    .checkbox {
      padding: .5rem 0;
      &.has-success {
        label,
        label.field-label,
        .empty-message {
          color: $success;
        }
        .form-control,
        input,
        select,
        textarea {
          border-color: $success;
        }
      }
      &.has-warning {
        label,
        label.field-label,
        .empty-message {
          color: $warning;
        }
        .form-control,
        input,
        select,
        textarea {
          border-color: $warning;
        }
      }
      &.has-error {
        label,
        label.field-label,
        .empty-message {
          color: $danger;
        }
        .form-control,
        input,
        select,
        textarea {
          border-color: $danger;
        }
      }
    }
    .form-group {
      
      .file-table {
        display: table;
        margin: 0;
        padding: 0;
  
        .file-header {
          font-weight: 700;
        }

        .file-header, .file-container {
          display: table-header-group;
          
          .file-row {
            display: table-row;
  
            span {
              display: table-cell;
              padding: .5rem;
              max-width: 30rem;
              overflow: auto;
              
              @media all and (max-width: 992px) {
                max-width: 15rem;
                overflow: auto;
              }

              &.file-actions {
                a {
                  padding: 0 .5rem;
                }
              }
            }
          }
        } 
      }

      &.empty {
        .file-table {
          .file-header {
            display: none;
          }
        }
      }
    }
  }
  // Deprecated - Legacy typeahead styling
  .tt-menu {
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(207, 207, 207);
    .fa.pull-left {
      margin: 0;
    }
  }
}

apryse-webviewer {
  height: 60vh;
}